{{ form_start(form, {'attr': {'id': 'form_comment'}}) }}

    {% for flashMessage in app.session.flashbag.get('commentForm') %}
        <p style="color: red;">{{ flashMessage }}</p>
    {% endfor %}

    {{ form_widget(form) }}

    {% if recaptchaEnabled %}
        <button class="btn g-recaptcha"
            data-sitekey="{{ recaptchaKey }}"
            data-callback='onSubmit'
            data-action='submit'
            disabled
        >
            {{ button_label|default('Save') }}
        </button>

        <script src="https://www.google.com/recaptcha/enterprise.js?render={{ recaptchaKey }}"></script>
        <script>
            function onSubmit(token) {
                document.getElementById("form_comment").submit();
            }
        </script>
        <style>
            .grecaptcha-badge {
                display: none;
            }
        </style>
    {% else %}
        <button class="btn">
            {{ button_label|default('Save') }}
        </button>
    {% endif %}
{{ form_end(form) }}