{% extends '@bolt/_base/layout.html.twig' %}

{% block title %}{{ 'Edit Comment'|trans }}{% endblock %}

{% block main %}
    <a href="{{ path('extension_comment_admin') }}">{{ 'back to list'|trans }}</a>

    {{ include('@bolt-simple-comments/_form.html.twig', {'button_label': 'Update'|trans}) }}

    {{ include('@bolt-simple-comments/_delete_form.html.twig') }}
{% endblock %}